*{
	border: 0px;
	margin: 0px;
}

.Top-Image{
	padding-top: 1.8vw;
	padding-left: 17.25%;
	padding-bottom: 1.55vw;
}

.line { height: 0.5px; background-color: red; }
.line2 { height: 1.3vw; background-color: rgb(21, 96, 104); width: 100vw; margin-left: -50vw; margin-top: -8vw; position: relative; z-index: 100;}

.Image2{
	padding-top: 2.8vw;
	padding-left: 17.25%;
}
.flexbox{
	display: flex;
	flex-direction: row;
	background-color: white;
	height: fit-content;
}

.d1{
	width: 17%;
	background-color: white;
	height: 100%;
}

.d2{
	width: 83%;
	height: 100%;
	background-color: white;
}

.bigred1{
	width: 98.11%;
	height: 2.25vw;
	background-color: rgb(216, 50, 48);
}

.bigred2{
	height: 2.25vw;
	background-color: rgb(216, 50, 48);
}

.content{
	float: left;
	width: 72%;
	padding-top: 10px;
	height: 35%;
}
.heading{
	padding-left: 10.5%;
}

.partial-shingle-top-text {
    padding-top: 10px;
	margin-left: -10px;
    width: 100%;
    height: 22px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #3a3a3a;
}

.partial-shingle-middle-text {
    padding-top: 20px;
    padding-left: 0%;
    height: 67px;
    font-family: Arial;
    font-size: 26.3px;
    line-height: 1.27;
    letter-spacing: -0.31px;
    text-align: center;
    color: #ec5e34;
}

.update{
	width: 75%;
	height: 45px;
	background-color: rgb(240, 127, 36);
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

.leftdiv{
	
	width: 100%;
	margin-left: 2vw;
	float: left;
	
}

.rightdiv{
	
	width: 100%;
	margin-top: -23vw;
	margin-right: -33vw;
	float: right;
	
}
.ldiv{
	padding-top: 75px;
	color: rgb(236, 94, 52);
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	width: 50%;
	margin-left: 5vw;
	
}

.rdiv{
	padding-top: 75px;
	color: rgb(236, 94, 52);
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	width: 50%;
	margin-right: 5vw;
}

.footer{
	color: white;
	height: fit-content;
	background-color: rgb(31, 133, 143);
	height: 380px;
	position: relative;
	z-index: 100;
}
.partial-content-code {
    font-size: 24px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
}
.partial-content-offer {
    font-size: 11px;
    font-family: Arial,sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}
.fr{
	width: 83%;
	float: right;
	text-align: center;
	background-color: rgb(31, 133, 143);
}
.fleft{
	padding-top: 50px;
	float: left;
	width: 50%;
	height: fit-content;
	background-color: rgb(31, 133, 143);
	padding-bottom: 20px;
}

.fright{
	padding-top: 50px;
	float: right;
	width: 50%;
	height: fit-content;
	background-color: rgb(31, 133, 143);
	padding-bottom: 20px;
}
.B1{
	background-color: rgb(235, 23, 31);
	color: white;
	width: 20%;
	height: 3rem;
	border-radius: 100%;
	width: 10vw;
	letter-spacing: 5px;
}

.B2{
	background-color: rgb(235, 23, 31);
	color: white;
	width: 20%;
	height: 3rem;
	border-radius: 100%;
	width: 10vw;
	letter-spacing: 5px;
	margin-left: -10vw;
}

.Hyperlinks {
    margin-left: 17%;
    font-size: 1rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
